* {
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 1000px;
    border: 5px solid #075757;
    padding: 5px;
    border-radius: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    margin-top: 5px;
    display: flex;
}

.header, .main_header {
    height: 150px;
    background: #075757;
}

.main_left {
    width: 80%;
}

.content {
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;
    row-gap: 5px;
}

.item {
    width: 32%;
    height: 150px;
    flex-grow: 1;
    background: #075757;
}

.h {
    flex-grow: 1;
    background: #075757;
    margin-left: 5px;
}