* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    border: 4px solid #5b6e6e;
    margin: 0 auto;
    box-sizing: border-box;
}

.header, .nav, .footer {
    height: 150px;
    background: #329696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 100px;
    margin-top: 1px;
}

.main {
    display: flex;
    margin-top: 1px;
}

.main_left, .aside {
    background: #075757;
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    flex-grow: 1;
    margin-left: 1px;
    width: 15%;
}

.footer {
    height: 100px;
    margin-top: 1px;
}