* {
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
}

.widgets {
    height: 150px;
    background: #8c30a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.main {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}

.big_widgets, .bigger_widgets, .huge_widgets {
    background: #075757;
    height: 300px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.contact {
    height: 300px;
    background: #343ab0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 20px;
}