* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
}

#header {
    height: 100px;
    background: #075757;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.main {
    margin-top: 5px;
    display: flex;
}

#menu {
    background: #ffdbc1;
    width: 15%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.post {
    flex-grow: 1;
}

.post_first, .post_second {
    background: #fff556;
    height: 244.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 3px solid black;
}

.post_second {
margin-top: 5px;
}

#footer {
    height: 100px;
    background: #da0c09;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin-top: 5px;
}